<h2 class="event-header"> Event </h2>

<p> Name: <%= @event.name %> </p>
<p> Viewing: <%= @event.platform.name %> </p>
<p> location: <%= @event.location %> </p>



<img src="<%= @event.image_url %>" >




<h2> List of Fighters </h2>

<ol>
    <% @event.fighters.each do |fighter_inst| %>
        <li>
            <%=link_to fighter_inst.name, fighter_path(fighter_inst) %> 
        </li>
    <%end%>
</ol>

<ol>
        <% @event.schedules.each do |schedule| %>
            <%= schedule.fighter.name %>
            <%= button_to "x", "/schedules/#{schedule.id}", method: "delete" %>
        <% end %>    
</ol>
